* {
	/*取消浏览器自带的格式*/
	margin: 0;
	padding: 0;
} 
a {
	/*去掉浏览器自带的a标签下划线*/
	text-decoration: none;
}
body h1 h2{
	/*在前面统一设置标题的行高*/
	line-height: 2;
}  
header,
main,
footer {
	/*设置整个body的宽度和左侧margin*/
	width: 650px;
	margin-left: 50px; 
}
.rightpic {
	/*设置不属于body的，固定在屏幕右侧的图片*/
	position: fixed;  /* position属性的5个常用值：absolute、relative、fixed、static、sticky */
	bottom: 0px;    /*position 定位的值可以写： top/bottom  left/right */
	right: 0;       /*删除了多余的定位代码*/
}
.figure img {
	/*图片太大，必须设置图片显示为块后，设置宽度来调整图片大小。另外，给图片加上边框*/
	display: block; /*这里原来给了个相对定位，是为了将图片设置为块之后，调整图片的大小和位置。现在替代之后，删除了原代码*/
	width: 40rem;  /* 字体和图片使用rem单位，1rem=16px */
	border: 1px solid #999;
	padding: 5px;
	margin-bottom: 5px;  /**/
}
.title h1 {
	/*文章的唯一主标题*/
	margin: 30px 0;
	font-size: 2.125rem;
	color: #188eee;
}

/* 各文章小结的副标题（此处注释不写在中括号内了，提前一行写） */
.schedule_part1 h2,
.article_part2 h2,
.pic_part3 h2,
.end_part4 h2 {
	margin: 20px 0;
	font-size: 1.5rem;
	/*下一行 为抄袭部分。 作用：使用背景渐变来为副标题设置分割线*/
	background: linear-gradient(to right, #188eee, #188eee 15%, #999 16%, #999 100%) no-repeat bottom/100% 1px; /*抄袭部分 嘻嘻*/
}
/*.jianbian{  副标题下面的渐变分割线，使用渐变背景来设置，不使用图片
          clear:both;height:2px;
          background: -webkit-linear-gradient(left,  #188eee 0%,#f5f5f5 25%); 
        } 自己原来的分割线是使用div做的，不好*/
ol.article {
	/*列表样式*/
	/*list-style-position: inside; 本来是设置序列号在对齐线里面，而不是外面，但下一行代码将序列号删除了，此行就变得无效了*/
	list-style-type: none;  /*取消浏览器自带的列表样式，用这一行就可以了*/
}
li .number {
	/*手动设置列表的序列号1234。 另外，将每一个span都设置了class，考虑了选择器的优化*/
	font-family: monospace;
	color: #999;
	margin-right: 10px;
}
.end_part4 .article p {
	/*为文章内容设置字体等*/
	line-height: 1.8rem;
	margin: 10px 0;
	font-size: 1rem;
	text-indent: 2rem; /*段落的第一行缩进*/
}
.end_part4 .article .ad {
	/*为文章之中，打广告的一行文字，设置颜色*/
	color: #999;
} 
a:hover {
	/*为文章之中，打广告的连接，设置hover鼠标移入时颜色*/
	color: #188eee;
} 
.review_part5 {
	margin-top: 50px; /*将评论部分，强行用footer包裹，设置盒模式部分*/
	margin-left: 0;
	border-top: 3px solid #188eee;
	padding-top: 30px;
	float: left;
}
.review_part5 .form {
	/*选择器这个注意一下，将父级元素也写上*/
	/*表格包含多行文本框+提交按钮。设置位置。*/
	/*float: left;  同样，原本的float被去掉了*/
	position: relative;
	/*position:-650px 0;  替代float的position*/
	top: 0;
	left: 0;
}
.review_part5 .form textarea {
	/*多行文本框。设置位置。*/
	resize: none; /*去除谷歌浏览器自带的【右下角的小三角】*/
	border-radius: 5px; /*矩形的圆角*/
	border-color: #dbdbdb;
	color: #999;
	padding: 8px 0px 0px 14px; /*使用padding来替代宽度，达到页面对齐的效果*/
	/*width:632px;  多行文本框必须设置宽度来减小宽度，不然会超出650px的body*/
}
.review_part5 .form textarea:hover {
	box-shadow: 0px 0px 5px #ccc;
	resize: none;
} /*多行文本框的的hover*/
.review_part5 .form .submit {
	/*提交按钮的位置和盒模型*/
	/*display: block; 既然用内边距来代替了长和宽，就不需要显示为块来设置长和宽了*/
	/*height: 30px; width: 80px; 同样，去掉宽度和高度*/
	border-radius: 5px;
	background-color: #188eee;
	color: #f5f5f5;
	margin-bottom: 15px;
	padding: 4px 10px; /*用padding来代替长和宽*/
	outline:none; /*新增：消除按钮点击时出现的蓝色边框，这种小细节要记住*/
}
.review_part5 .form .submit:hover {
	background-color: #147de2;
} /*提交按钮鼠标移入时的bg*/
.review_part5 .floor {
	/*一个评论楼层，包含评论内容和用户名、日期。以及【回复】【点赞】两个按钮*/
	background-color: #f5f5f5;
	margin: 10px 0;
	/*width: 610px;height:55px;  同样，去掉宽度和高度*/
	/*float: left; 删除多余代码*/
	padding: 7px 10px; /*用padding来代替长和宽*/
	font-size: 0.75rem;
	border-radius: 5px;
}
.review_part5 .floor:hover {
	box-shadow: 0px 0px 5px #ccc;
} /*鼠标移入时，每一个评论楼层，分别出现阴影*/
.review_part5 .floor p {
	font-size: 0.875rem;
	padding: 5px 0px;
}
.review_part5 .floor span {
	color: #666;
}
.review_part5 .floor .review_button {
	/*float: right;  将浮动去除，本段样式设置“点赞”和“回复”两个按钮的位置*/
	position: relative;
	right: -548px;
	bottom: 3px; /*同样，使用位置来消除浮动*/
	padding-left: 8px; /*保持两个按钮（行内元素）之间的间隙*/
	color: #188eee;
}
.review_part5 .floor .review_button:hover {
	/*手型鼠标*/
	cursor: pointer;
} 
.review_part5 .floor .user {
	padding-left: 15px;
}
.review_part5 .floor .user a:hover { 
	color: #147de2;
}
